body#page {
	background: #141414 url(../../images/black/page_bg.png) 50% 0 repeat-x;
}

div.wrapper .wrapper-t {
	background: #ffffff url(../../images/black/wrapper_t.png) 0 0 repeat-x;
}

div.wrapper .wrapper-b {
	background: url(../../images/black/wrapper_b.png) 0 100% repeat-x;
}

div.wrapper .wrapper-l {
	background: url(../../images/black/wrapper_l.png) 0 0 repeat-y;
}

div.wrapper .wrapper-r {
	background: url(../../images/black/wrapper_r.png) 100% 0 repeat-y;
}

div.wrapper .wrapper-tl {
	background: url(../../images/black/wrapper_tl.png) 0 0 no-repeat;
}

div.wrapper .wrapper-tr {
	background: url(../../images/black/wrapper_tr.png) 100% 0 no-repeat;
}

div.wrapper .wrapper-bl {
	background: url(../../images/black/wrapper_bl.png) 0 100% no-repeat;
}

div.wrapper .wrapper-br {
	background: url(../../images/black/wrapper_br.png) 100% 100% no-repeat;
}

div#footer {
	color: #ffffff;
}